body {
    background-color: rgba(66, 66, 66, 1);
}
#webName {
    position: fixed;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 149, 0, 1);
    z-index: 10;
}
#screenName { 
    position: fixed;
    top: 5px;
    left: 50vw;
    transform: translateX(-27%);
    width: 500px;
    color: rgba(255, 255, 255, 1);
    z-index: 9;
} 
#circle {
    position: fixed;
    background-color: rgba(50, 50, 50, 1);
    right: -50vw;
    top: -410px;
    width: 200vw;
    height: 500px;
    border-radius: 100%;
    z-index: 8;
}
#reclamaAkk {
    position: fixed;
    color: rgba(215, 215, 215, 1);
    top: 13vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 60vw;
    font-size: calc((4vw + 4vh) / 2);
    text-align: center;
}
#logIn {
    position: fixed;
    background-color: rgba(255, 149, 0, 1);
    color: rgba(0, 0, 0, 1);
    bottom: 18vw;
    left: 50%;
    transform: translate(-50%, 50%);
    width: calc(45vw);
    height: calc((10vh + 10vw)/2);
    font-size: 3.5vw;
    border-radius: 5vh;
}
#logUp {
    position: fixed;
    background-color: rgba(221, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
    bottom: 6vw;
    left: 50%;
    transform: translate(-50%, 50%);
    width: calc(35vw);
    height: calc((8vh + 8vw)/2);
    font-size: 3.5vw;
    border-radius: 4vh;
}





#textInputName {
    position: fixed;
    color: rgba(217, 217, 217, 1);
    top: 10vh;
    left: 10px;
    font-size: max(32px, calc((4vh + 4vw) / 2));
}
#inputName {
    position: fixed;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 12px;
    top: 21.5vh;
    left: 10px;
    width: calc((25vw + 25vh)/1.5);
    height: calc(2.7vh);
}
#textInputPassword {
    position: fixed;
    color: rgba(217, 217, 217, 1);
    top: 21vh;
    left: 10px;
    height: 5px;
    font-size: max(30px, calc((4vh + 4vw) / 2));
}
#inputPassword {
    position: fixed;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 12px;
    top: 32.65vh;
    left: 10px;
    width: calc((25vw + 25vh)/1.5);
    height: calc(2.7vh);
}
#bellLion {
    position: fixed;
    width: 75vw;
    height: 40vh;
    top: 58vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
#logInServis {
    position: fixed;
    background-color: rgba(255, 149, 0, 1);
    width: max(150px,  32vw);
    height: calc((8vh + 8vw)/2);
    border-radius: 22px;
    top: 86vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: max(18px, 3.5vw);
}
#conditions {
    position: fixed;
    color: rgba(217, 217, 217, 1);
    top: 86.7vh;
    left: 50vw;
    width: 96vw;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: max(15px, 2.5vw);
}





#srcName {
    position: fixed;
    color: rgba(255, 255, 255, 1);
    top: 11vh;
    z-index: 10;
    font-size: clamp(20px, 3vw, 30px);
    height: clamp(15px, 3vw, 25px);}
.go {
    color: rgba(255, 255, 255, 1);
    font-size: clamp(12px, 3vw, 23px);
    height: clamp(15px, 3vw, 25px);
}
#go1 {
    position: fixed;
    height: 95vh;
    width: 95vw;
    top: 65vh;
    left: 10px;
    transform: translateY(-50%);
}
#go2 {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 80vh;
    left: 10px;
    transform: translateY(-50%);
}
#go3 {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 90vh;
    left: 10px;
    transform: translateY(-50%);
}
#go4 {
    position: fixed;
    color: rgb(0, 157, 255);
    top: 48vh;
    left: 10px;
    transform: translateY(-50%);
    font-size: clamp(12px, 3vw, 23px);
    height: clamp(15px, 3vw, 25px);}
#atGalka {
    position: fixed;
    display: inline-block;
    width: 50px;
    height: 50px;
    top: 80vh;
    left: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 7px solid black;
    transition: background-color 0.3s;
}
#atGalka:hover {
    background-color: rgb(81, 81, 81);
}
#atGalka.active {
    background-color: blue;
}
#g {
    position: fixed;
    display: inline-block;
    top: 70.5vh;
    left: 35px;
    font-size: 35px;
}
#atText {
    position: fixed;
    color: rgba(218, 218, 218, 1);
    top: 76.5vh;
    left: 92px;
    font-size: calc((2.5vw + 2.5vh)/2);
}
#atNext {
    position: fixed;
    background-color: rgba(217, 217, 217, 1);
    width: 25vw;
    height: 8vh;
    font-size: calc((3vw + 3vh)/2);
    border-radius: 12px;
    top: 90vh;
    left: 50vw;
    transform: translateX(-50%);
}





#settings {
    position: fixed;
    background-color: rgba(50, 50, 50, 1);
    width: 50px;
    height: 50px;
    border-radius: 35px;
    top: 20vh;
    left: 80vw;
    transform: translate(-50%, -50%);
    z-index: 25;
}
#setText {
    color: rgb(217, 217, 217);
    position: absolute;
    font-size: 40px;
    top: -35%;
    left: 50px;
}
#set {
    position: absolute;
    font-size: 40px;
    top: -35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#exit {
    position: fixed;
    color: rgb(217, 217, 217);
    background-color: rgba(40, 40, 40, 1);
    transform: translateX(-50%);
    width: 240px;
    height: 55px;
    border-radius: 13px;
    font-size: calc((2.5vw + 2.5vh)/2);
    display: flex;
    align-items: center;
    justify-content: center;
}
#usData {
    position: fixed;
    color: rgb(217, 217, 217);
    background-color: rgba(40, 40, 40, 1);
    transform: translateX(-50%);
    width: 240px;
    height: 55px;
    border-radius: 13px;
    font-size: calc((2.5vw + 2.5vh)/2);
    display: flex;
    align-items: center;
    justify-content: center;
}
#balanceText {
    position: fixed;
    color: white;
    top: 16vh;
    left: 8vw;
    white-space: nowrap;
    transform: translate(0, -50%);
    font-size: calc((2vw + 2vh)/2);
}
#balanceValue {
    position: fixed;
    color: gold;
    top: 16vh;
    left: 17vw;
    transform: translate(-50%, -50%);
    font-size: calc((2vw + 2vh)/2);
}
#toReplenish {
    position: fixed;
    color: goldenrod;
    background-color: rgba(66, 66, 66, 1);
    top: 27vh;
    left: 8vw;
    width: 12vw;
    height: 6vh;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, -50%);
    font-size: calc((2.5vw + 2.5vh)/2);

}
#DEPafto {
    position: fixed;
    width: 25vw;
    height: 65vh;
    background-color: rgba(0, 0, 0, 1);
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 10;
    overflow: visible;
    border: 5px solid #333;
    border-radius: 15px;
}
#depUp {
    position: absolute;
    width: 90%;
    height: 25%;
    background-color: rgba(30, 30, 30, 1);
    top: 5%;
    left: 5%;
    border-radius: 10px;
    border: 3px solid #222;
}
#q1 {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: calc((3vw + 3vh)/2);
    transform: translate(-50%, -50%);
}
#q2 {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: calc((3vw + 3vh)/2);
    transform: translate(-50%, -50%);
}
#q3 {
    position: absolute;
    top: 30%;
    left: 80%;
    font-size: calc((3vw + 3vh)/2);
    transform: translate(-50%, -50%);
}
#depCenter {
    position: absolute;
    width: 90%;
    height: 35%;
    background-color: rgb(30, 30, 30);
    top: 60%;
    left: 5%;
    border-radius: 10px;
    border: 3px solid #222;
}
#depDown {
    position: absolute;
    background-color: rgba(30, 30, 30, 1);
    width: 90%;
    height: 30%;
    top: 70%;
    left: 5%;
    border-radius: 10px;
    border: 3px solid #222;
}
#upl {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    border: 4px solid #900;
}
#depLever {
    position: absolute;
    background-color: rgba(80, 80, 80, 1);
    width: 35px;
    height: 150px;
    bottom: 35%;
    right: -15px;
    transform: rotate(25deg);
    z-index: 0;
    transform-origin: bottom center;
    border-radius: 8px;
    border: 3px solid #222;
}
#depInputText {
    position: fixed;
    color: rgba(217, 217, 217, 1);
    top: 72vh;
    left: 17vw;
    font-size: calc((2vw + 2vh)/2);
    transform: translateX(-50%);
}
#depInputValue {
    position: fixed;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 12px;
    top: 81vh;
    left: 17vw;
    width: 250px;
    height: 15px;
    transform: translateX(-50%);
}
#depValueText {
    position: fixed;
    color: rgb(255, 255, 255);
    top: 70vh;
    left: 80vw;
    font-size: calc((2vw + 2vh)/2);
    transform: translate(-50%, -50%);
}
#depValue {
    position: fixed;
    color: rgb(255, 255, 255);
    top: 70vh;
    left: 85vw;
    font-size: calc((2vw + 2vh)/2);
    transform: translate(-50%, -50%);
}
#depBtn {
    position: fixed;
    background-color: rgb(220, 0, 0);
    color: white;
    width: 185px;
    height: 45px;
    border-radius: 15px;
    top: 90vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}





#balanceTextCl {
    position: fixed;
    color: white;
    top: 16vh;
    left: 8vw;
    font-size: calc((3vw + 3vh)/2);
    transform: translate(0, -50%);
}
#balanceValueCl {
    position: fixed;
    color: gold;
    top: 16vh;
    left: 22vw;
    font-size: calc((3vw + 3vh)/2);
    transform: translate(-50%, -50%);
}
#money {
    position: fixed;
    top: 50vw;
    left: 45vh;
    width: max(150px, 45vmin);
    height: max(150px, 45vmin);
}
#vne {
    position: fixed;
    background-color: rgba(207, 166, 0, 1);
    width: max(150px, 45vmin);
    height: max(150px, 45vmin);
    border-radius: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#vnu {
    position: fixed;
    background-color: rgba(255, 204, 0, 1);
    width: max(130px, 39vmin);
    height: max(130px, 39vmin);
    border-radius: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#sym {
    position: fixed;
    font-size: clamp(100px, 8vmin, 600px); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    font-weight: bold;
    text-align: center;
    line-height: 1; 
    white-space: nowrap; /* Не переносить текст ====================================================================*/
    z-index: 2;
}
#backToBase {
    position: fixed;
    width: 225px;
    height: 60px;
    background-color: rgba(220, 0, 0, 1);
    color: white;
    border-radius: 12px;
    top: 90vh;
    left: 50vw;
    font-size: calc((2.5vw + 2.5vh)/2);
    transform: translateX(-50%);
}





#dataPass {
    position: fixed;
    color: rgba(217, 217, 217, 1);
    top: 12vh;
    left: 15px;
}
#dataWallet {
    position: fixed;
    color: rgba(217, 217, 217, 1);
    top: 20vh;
    left: 15px;
}
#dataPos {
    position: fixed;
    color: rgba(217, 217, 217, 1);
    top: 28vh;
    left: 15px;
}
#back {
    position: fixed;
    background-color: rgb(56, 56, 56);
    color: rgb(217, 217, 217);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
}
