/*


1. !!!ПОФИКСИ ЖИРНОСТЬ ТЕКСТА >= h3!!!
2. Пофикси стиль текста у кнопок
3. В js на conditions у метки добавь проверку на клик
4. Проверь depDown, не отображался
5. Сделай sym в 10 раз больше


*/
.gggg {
    background-color: blue;
    width: 200px;
}
body {
    background-color: rgba(66, 66, 66, 1);
}
#webName {
    color: rgba(255, 149, 0, 1);
}
#screenName { 
    color: rgba(255, 255, 255, 1);
} 
#circle {
    background-color: rgba(50, 50, 50, 1);
    width: 100px;
    height: 20px;
    border-radius: 50px;
}
#reclamaAkk {
    color: rgba(215, 215, 215, 1);
}
#logIn {
    background-color: rgba(255, 149, 0, 1);
    color: rgba(0, 0, 0, 1);
    width: 185px;
    height: 40px;
    border-radius: 15px;
}
#logUp {
    background-color: rgba(221, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
    width: 135px;
    height: 30px;
    border-radius: 12px;
}
#textInputName {
    color: rgba(217, 217, 217, 1);
}
#inputName {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 12px;
}
#textInputPassword {
    color: rgba(217, 217, 217, 1);
}
#inputPassword {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 12px;
}
#logInServis {
    background-color: rgba(255, 149, 0, 1);
    width: 125px;
    height: 50px;
    border-radius: 22px;
}
#conditions {
    color: rgba(217, 217, 217, 1);
}
#srcName {
    color: rgba(255, 255, 255, 1);
}
.go {
    color: rgba(255, 255, 255, 1);
}
#go4 {
    color: rgba(54, 54, 255, 1);
}
#atGalka {
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid black;
}
#atGalka:hover {
    background-color: rgb(81, 81, 81);
}
/*
#atGalka:active {
    background-color: blue;
}
*/
#atText {
    color: rgba(218, 218, 218, 1);
}
#atNext {
    background-color: rgba(217, 217, 217, 1);
    width: 200px;
    height: 40px;
    border-radius: 12px;
}
#exit {
    color: rgba(189, 189, 189, 1);
    background-color: rgba(50, 50, 50, 1);
    width: 75px;
    height: 25px;
    border-radius: 12px;
}
#balanceText {
    color: white;
}
#balanceValue {
    color: gold;
}
#toReplenish {
    color: goldenrod;
    background-color: rgba(0, 0, 0, 0);
}
#DEPafto {
    width: 175px;
    height: 250px;
    background-color: rgba(0, 0, 0, 1);
}
#depUp {
    width: 175px;
    height: 65px;
    background-color: red;
}
#depCenter {
    width: 175px;
    height: 65px;
    background-color: green;
}
#depLever {
    background-color: blueviolet;
    width: 40px;
    height: 110px;
}
#depDown { /*==================================================*/
    background-color: blue;
    width: 175;
    height: 120;
}
#depInputText {
    color: rgba(217, 217, 217, 1);
}
#depInputValue {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 12px;
}
#depBtn {
    background-color: rgb(220, 0, 0);
    color: white;
    width: 185px;
    height: 45px;
    border-radius: 15px;
}
#balanceTextCl {
    color: white;
}
#balanceValueCl {
    color: gold;
}
#vne {
    background-color: rgba(207, 166, 0, 1);
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
#vnu {
    background-color: rgba(255, 204, 0, 1);
    width: 130px;
    height: 130px;
    border-radius: 100px;
}
#sym {
    width: 150px;
    height: 150px;
}
#backToBase {
    width: 150px;
    height: 40px;
    background-color: rgba(220, 0, 0, 1);
    color: white;
    border-radius: 12px;
}



/*#money {
    background-color: goldenrod; Для внешней goldenrod, для внутренней gold
    width: 50px;
    height: 50px;
    border-radius: 50px;
}*/

/*

let DEPup = document.createElement("div")
        DEPup.setAttribute("id", "DEPup")
        DEPup.classList.add("DEPafto", "base")
        elems.push(DEPup)

        let DEPcenter = document.createElement("div")
        DEPcenter.innerHTML = `
            <h6 id="q1"></h6>
            <h6 id="q2"></h6>
            <h6 id="q3"></h6>
        `
        DEPcenter.setAttribute("id", "DEPcenter")
        DEPcenter.classList.add("DEPafto", "base")
        elems.push(DEPcenter)

        let DEPlever = document.createElement("div")
        DEPlever.setAttribute("id", "DEPlever")
        DEPlever.classList.add("DEPafto", "base")
        elems.push(DEPlever)

        let DEPdown = document.createElement("div")
        DEPdown.setAttribute("id", "DEPdown")
        DEPdown.classList.add("DEPafto", "base")
        elems.push(DEPdown)

*/